* {
  box-sizing: border-box;
  margin: 0;padding: 0;
}

/* 
--misty-rose: hsla(0, 40%, 91%, 1);
--twilight-lavender: hsla(317, 25%, 37%, 1);
--carolina-blue: hsla(206, 88%, 55%, 1);
--mountain-meadow: hsla(170, 100%, 37%, 1);
--rich-black: hsla(180, 38%, 16%, 1);*/

.body1 {
  background-image: url("flower.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.main1 {width: 100%;height:100%;
  position: relative;
}

.bonita1 {
  border-radius: 20%;
  opacity: 1;
  box-shadow: red 20px 20px 50px 50px;
  border-style: groove;
  position: absolute;
  left: 16%;
  top: 3%;
  transform: rotate(-35deg);
}

.writing {
  display: inline-flex;
  font-family: "Gamja Flower", cursive;
  font-weight: 900;
  font-size: xx-large;
  position: absolute;
  top: 51%;
  left: 21%;
  transform: scale(1.5);
  transform: rotate(-29deg);
}

.rose1 {
  flex: content;

  animation-name: rose;
  animation-duration: 7s;
  position: absolute;
  right: 2%;
  top: 1%;
}

.quote1 {
  border-radius: 20%;
  position: absolute;
  top: 10%;
  left: 40%;
  padding: 12px;
  clip-path: circle(40%);
}
.quote1 {
  transform: scale(1.9);
}
.bonita2 {
  transform: rotate(30deg);
  opacity: 1;
  box-shadow: red 20px 20px 50px 50px;
  border-style: groove;
  border-radius: 20%;
  position: absolute;
  right: 8%;
  bottom: 10%;
}
.bonita3 {
  transform: rotate(-10deg);
  opacity: 1;
  box-shadow: red 20px 20px 50px 50px;
  border-style: groove;
  border-radius: 20%;
  position: absolute;
  top: 5%;
  right: 23%;
}
.daisy {
  position: absolute;
  bottom: 3%;
}

.hold1 {
  position: absolute;
  bottom: 17%;
  left: 85%;
}

.cartoon1 {
  bottom: 20%;
  position: absolute;
  left: 55.13%;
}

.butterfly1 {
  top: 30%;
  left: 2%;
  position: absolute;
}

.butterfly1 {
  animation-name: butterfly;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 1000;
}

.smile {
  font-family: "Gamja Flower", cursive;
  font-weight: 900;
  font-size: xx-large;
  position: absolute;
  right: 23%;
  bottom: 3%;
  transform: rotate(29deg);
}

.lock1 {position:absolute;top:1%;left:1%;
  opacity: 0.8;
  transform: scale(0.6);
}

.link1 {
  position: absolute;
  left: 3%;
  top: 16%;
  font-family: "Gamja Flower", cursive;
  font-weight: 900;
  font-size: xx-large;
  color: black;
}

.corazon {
  position: absolute;
  left: 37%;
  bottom: 0%;
  transform: rotate(36deg);
}

.sands {
  font-family: "Gamja Flower", cursive;
  font-weight: 800;
  font-size: xx-large;
  position: absolute;
  left: 59%;
  bottom: 63%;
  transform: rotate(-35deg);
}

.bonita4 {
  border-style: groove;
  opacity: 1;
  position: absolute; bottom:0%;width: 250px;
  transform: rotate(30deg);clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%);
  

}

.bonita4-wrap {position: relative;width:500px;height:100%;bottom:1%;left:13%;filter: drop-shadow(25px 25px 10px rgba(235, 52, 52, 1));
}

.mini-wrapper {width:300px;height: 300px;position: absolute;right:50%;bottom:12%;}
@keyframes rose {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.page2-list {position: relative;top:0 px;
  display: inline-block;
  width:10%;list-style: none;background-color: hsla(0, 40%, 91%, 1);height:100vh;}

.page2-body {margin: 0 auto;
  width: 80%;height:100vh;}



li {display:inline-flex;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;justify-content:center;font-size: 28px;

;width: 100px;height:100px;}

  .hero {position: relative;top:145px;
    display: inline-block;  background-image: 
    url("yellow1.jpg");width: 575px;height:300px;background-position: bottom;transform: rotate(-30deg);border-radius: 90px; border-style:ridge ;border-width: 4px;}

    iframe {border-radius: 30px;position: relative;bottom:140px;left:25px;}

    .poem1 {opacity:.6; width: 180px;height:275px; border-radius: 26px;border-style: solid;border-color:orangered;position: relative; top:15px;left:125px}

    

    .page2-body {height:100vh;
      background-image: url("pastel.jpg");background-size: cover;background-repeat: no-repeat;}


.writing {font-family:  'Cedarville Cursive', cursive;font-size: 80px;color: orangered;position: relative;bottom:130px}

.heart1 {position: relative;bottom:300px;right: 840px;}



@media (max-width: 1024px) {
  .quote1 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .cartoon1 {
    display:none;
  }
}

@media (max-width: 1024px) {
  .hold1 {
    display: none;
  }}

@media (max-width: 1024px) {
  .sands {
    display: none;
  }
}

@media (max-width: 1024px) {
  .bonita4 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .lock1 {
    display: none;
  }
}
@media (max-width: 1024px) {
  .link1 {
    display: none;
  }
}

@media (max-width: 1024px) {
  body {
    height: 100vh;
  }
}

@keyframes butterfly {
  0% {
    top: 0;
    left: 0;
  }
  10% {
    top: 20%;
    left: 10%;
  }
  20% {
    top: 30%;
    left: 35%;
  }
  30% {
    top: 50%;
    left: 60%;
  }
  40% {
    top: 80%;
    left: 40%;
  }

  60% {
    bottom: 10%;
    right: 30%;
  }
  75% {
    top: 5%;
    left: 50%;
  }
  100% {
    top: 100px;
    left: 80%;
  }
}

@media (max-width: 1024px) {
  .corazon {
    display: none;
  }
}

