* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("flower.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.main1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.bonita1 {
  border-radius: 20%;
  opacity: 1;
  box-shadow: red 20px 20px 50px 50px;
  border-style: groove;
  position: absolute;
  left: 16%;
  top: 3%;
  transform: rotate(-35deg);
}

.writing {
  display: inline-flex;
  font-family: "Gamja Flower", cursive;
  font-weight: 900;
  font-size: xx-large;
  position: absolute;
  top: 51%;
  left: 21%;
  transform: scale(1.5);
  transform: rotate(-29deg);
}

.rose1 {
  flex: content;

  animation-name: rose;
  animation-duration: 7s;
  position: absolute;
  right: 2%;
  top: 1%;
}

.quote1 {
  border-radius: 20%;
  position: absolute;
  top: 10%;
  left: 40%;
  padding: 12px;
  clip-path: circle(40%);
}
.quote1 {
  transform: scale(1.9);
}
.bonita2 {
  transform: rotate(30deg);
  opacity: 1;
  box-shadow: red 20px 20px 50px 50px;
  border-style: groove;
  border-radius: 20%;
  position: absolute;
  right: 8%;
  bottom: 10%;
}
.bonita3 {
  transform: rotate(-10deg);
  opacity: 1;
  box-shadow: red 20px 20px 50px 50px;
  border-style: groove;
  border-radius: 20%;
  position: absolute;
  top: 5%;
  right: 23%;
}
.daisy {
  position: absolute;
  bottom: 3%;
}

.hold1 {
  position: absolute;
  bottom: 9%;
  left: 48%;
}

.cartoon1 {
  bottom: 7%;
  position: absolute;
  left: 41.13%;
}

.butterfly1 {
  top: 30%;
  left: 2%;
  position: absolute;
}

.butterfly1 {
  animation-name: butterfly;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 1000;
}

.smile {
  font-family: "Gamja Flower", cursive;
  font-weight: 900;
  font-size: xx-large;
  position: absolute;
  right: 23%;
  bottom: 3%;
  transform: rotate(29deg);
}

.lock1 {opacity: 0.8;transform: scale(.6)}

.link1 {position: absolute;left:2.6%;top:16%;font-family: "Gamja Flower", cursive;
    font-weight: 900;
    font-size: xx-large;color:black}

.corazon {
  position: absolute;
  left: 37%;
  bottom: 0%;
  transform: rotate(36deg);
}

.sands {
  font-family: "Gamja Flower", cursive;
  font-weight: 800;
  font-size: xx-large;
  position: absolute;
  left: 42%;
  bottom: 30%;
  transform: rotate(-35deg);}

  .bonita4 {width: 200px;border-style: groove;
  opacity: 1;
  box-shadow: red 20px 20px 50px 50px;
  border-style: groove;
  border-radius: 20%;
  position: absolute;bottom:32%;left:5%;transform: rotate(30deg);clip-path:polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);;}

  @keyframes rose {
    0% {
      opacity: 0.2;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }
  @media (max-width: 600px) {
    .quote1 {
      display: none;
    }
  }

  @media (max-width: 600px) {
    .cartoon1 {
      display: none;
    }
  }

  @media (max-width: 600px) {
    .hold1 {
      display: none;
    }
  }
  @media (max-width: 600px) {
    .bonita3 {
      display: none;
    }
  }

  @media (max-width: 600px) {
    .sands {
      display: none;
    }
  }

  @media (max-width: 600px) {
    .bonita4 {
      display: none;
    }
  }

  @keyframes butterfly {
    0% {
      top: 0;
      left: 0;
    }
    10% {
      top: 20%;
      left: 10%;
    }
    20% {
      top: 30%;
      left: 35%;
    }
    30% {
      top: 50%;
      left: 60%;
    }
    40% {
      top: 80%;
      left: 40%;
    }

    60% {
      bottom: 10%;
      right: 30%;
    }
    75% {
      top: 5%;
      left: 50%;
    }
    100% {
      top: 100px;
      left: 80%;
    }
  }

  @media (max-width: 600px) {
    .corazon {
      display: none;
    }
  }

